<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.001</key>
	<string>a.001.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>ba</key>
	<string>ba.glif</string>
	<key>be</key>
	<string>be.glif</string>
	<key>bi</key>
	<string>bi.glif</string>
	<key>bo</key>
	<string>bo.glif</string>
	<key>bon</key>
	<string>bon.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>da</key>
	<string>da.glif</string>
	<key>de</key>
	<string>de.glif</string>
	<key>de.alt</key>
	<string>de.alt.glif</string>
	<key>di</key>
	<string>di.glif</string>
	<key>do</key>
	<string>do.glif</string>
	<key>do.alt1</key>
	<string>do.alt1.glif</string>
	<key>do.alt2</key>
	<string>do.alt2.glif</string>
	<key>do.alt3</key>
	<string>do.alt3.glif</string>
	<key>do.alt4</key>
	<string>do.alt4.glif</string>
	<key>do.alt5</key>
	<string>do.alt5.glif</string>
	<key>dyo</key>
	<string>dyo.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.001</key>
	<string>e.001.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fa</key>
	<string>fa.glif</string>
	<key>fe</key>
	<string>fe.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fo</key>
	<string>fo.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fu</key>
	<string>fu.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>ga</key>
	<string>ga.glif</string>
	<key>ge</key>
	<string>ge.glif</string>
	<key>gi</key>
	<string>gi.glif</string>
	<key>go</key>
	<string>go.glif</string>
	<key>go.alt</key>
	<string>go.alt.glif</string>
	<key>gu</key>
	<string>gu.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>ju</key>
	<string>ju.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ka</key>
	<string>ka.glif</string>
	<key>ka.alt1</key>
	<string>ka.alt1.glif</string>
	<key>ke</key>
	<string>ke.glif</string>
	<key>ki</key>
	<string>ki.glif</string>
	<key>ko</key>
	<string>ko.glif</string>
	<key>kwa</key>
	<string>kwa.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>la</key>
	<string>la.glif</string>
	<key>le</key>
	<string>le.glif</string>
	<key>li</key>
	<string>li.glif</string>
	<key>lo</key>
	<string>lo.glif</string>
	<key>lu</key>
	<string>lu.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>ma</key>
	<string>ma.glif</string>
	<key>me</key>
	<string>me.glif</string>
	<key>mi</key>
	<string>mi.glif</string>
	<key>mo</key>
	<string>mo.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>na</key>
	<string>na.glif</string>
	<key>ne</key>
	<string>ne.glif</string>
	<key>ni</key>
	<string>ni.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nja</key>
	<string>nja.glif</string>
	<key>no</key>
	<string>no.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.001</key>
	<string>o.001.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>pa</key>
	<string>pa.glif</string>
	<key>pe</key>
	<string>pe.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>po</key>
	<string>po.glif</string>
	<key>pu</key>
	<string>pu.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sa</key>
	<string>sa.glif</string>
	<key>se</key>
	<string>se.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>si</key>
	<string>si.glif</string>
	<key>si.alt</key>
	<string>si.alt.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>so</key>
	<string>so.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>su</key>
	<string>su.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>ta</key>
	<string>ta.glif</string>
	<key>te</key>
	<string>te.glif</string>
	<key>te.ss01</key>
	<string>te.ss01.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>ti</key>
	<string>ti.glif</string>
	<key>tja</key>
	<string>tja.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>we</key>
	<string>we.glif</string>
	<key>wi</key>
	<string>wi.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
